  
  .center {
    text-align: center;
  }


  .column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  name{
    color: cyan;
  }
  id{
    color: magenta;
    
  }
  tutorial{
    color: yellow;

  }